<template>
    <div :class="{subTask: task.isSubtaskOf}">
        <span>
            <template v-if="!isEditing">{{task.text}}</template>
            <span v-else>
                <input v-model="task.text" type="text" />
                <button @click="onSave(task.id, task.text)">Save</button>
            </span>
        </span>
        <span>
            <button v-if="!isEditing" @click="onEdit">Edit</button>
        </span>
        <span><button @click="onDelete(task.id)">Delete</button></span>
        <span>
            <template v-if="!task.isSubtaskOf">
                <button v-if="!isCreatingSubTask" @click="onStartCreate">Create Subtask</button>
                <span v-else>
                    <input ref="subTaskInput" v-model="newSubTask" type="text" />
                    <button @click="onCreate(task.id, newSubTask)">Create</button>
                </span>
            </template>
        </span>
        <template v-for="subTask in subTasks">
            <Task :key="subTask.id" :task="subTask" @delete="onDelete" />
        </template>
    </div>
</template>

<script>
export default {
  name: "Task",
  data: function() {
    return {
      isEditing: false,
      isCreatingSubTask: false,
      newSubTask: ""
    }
  },
  props: {
    task: Object,
    subTasks: Array
  },
  methods: {
    onStartCreate: function() {
      this.isCreatingSubTask = true
      this.$nextTick(function() {
        this.$refs.subTaskInput.focus()
      })
    },
    onCreate: function(id, text) {
      if (text !== "") {
        this.$emit("create", id, text)
        this.newSubTask = ""
        this.isCreatingSubTask = false
      }
    },
    onEdit: function() {
      this.isEditing = true
    },
    onSave: function(id, text) {
      this.$emit("save", id, text)
      this.isEditing = false
    },
    onDelete: function(id) {
      this.$emit("delete", id)
    }
  }
}
</script>

<style scoped>
.subTask {
  padding-left: 20px;
}
</style>