<template>
  <div>
    <input ref="taskInput" type="text" v-model="taskInput" placeholder="z.B. Einkaufen" />
    <button @click="handleSubmit">Submit</button>
    <div v-for="task in rootTasks" :key="task.id">
      <Task :task="task" :subTasks="subTasks(task.id)" @delete="handleDelete" @save="handleSave" @create="handleCreate" />
    </div>
  </div>
</template>

<script>
import Task from "./Task.vue"

export default {
  name: "TaskList",
  components: {
    Task
  },
  data: function() {
    return {
      taskInput: "",
      tasks: []
    }
  },
  computed: {
    rootTasks: function() {
      return this.tasks.filter(function(task) {
        return !task.isSubtaskOf
      })
    }
  },
  methods: {
    subTasks: function(id) {
      return this.tasks.filter(function(task) {
        return task.isSubtaskOf == id
      })
    },
    handleSubmit: function() {
      var ts = Math.round(new Date().getTime() / 1000)
      this.tasks.push({ id: ts, text: this.taskInput })

      // reset input
      this.taskInput = ""
      this.$refs.taskInput.value = ""
    },
    handleCreate: function(parentId, text) {
      var ts = Math.round(new Date().getTime() / 1000)
      this.tasks.push({ id: ts, text: text, isSubtaskOf: parentId })
    },
    handleSave: function(id, text) {
      var task = this.tasks.find(function(task) {
        return task.id == id
      })
      var index = this.tasks.indexOf(task)
      task.text = text
      if (index > -1) {
        this.tasks.splice(index, 1, task)
      }
    },
    handleDelete: function(id) {
      var task = this.tasks.find(function(task) {
        return task.id == id
      })
      var index = this.tasks.indexOf(task)
      if (index > -1) {
        this.tasks.splice(index, 1)
      }
    }
  }
}
</script>
